
    <div class="social-origin-stridr"></div>
    <div class="row">
      <div class="col-xs-8 card-head-title">
        <h3>
          <span id="loading_message"><%= current_user.feed_status %></span>
          <span class="fa fa-circle-o-notch loading" aria-hidden="true"></span>
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 card-bar">
        <span>
          Your chronological content feed is loading
        </span>
        <hr>
      </div>
    </div>
