
<!-- Main body content. Cards go here. -->
<div id="card-wrapper">
<div id="loading_card" class="card-container card-container-stridr" style="margin-top:40vh;">
  <%= render partial: 'user/loading_card', locals: { current_user: current_user } %>
</div>

</div> <!-- end card-wrapper -->
