<div class="fb-share-button" data-href="https://www.stridr.social<%= social_page_path(page) %>" data-layout="button_count" data-size="small" data-mobile-iframe="true">
  <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= OAuth::Helper::escape("https://www.stridr.social" + social_page_path(page)) %>&amp;src=sdkpreparse">
    Share
  </a>
</div>
