<a href="https://www.pinterest.com/pin/create/button/?url=https://www.stridr.social<%= social_page_path(page) %>&media=<%= page.avatar.url %>">
    <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
</a>
