<style>
p, h2, img {
  font-family: 'Open Sans', sans-serif;
  color: #777777;
  margin-left: 25px;
  margin-right: 25px;
}

.header {
  position: relative;
}

h2 {
  color: #547794;
  display: inline;
  bottom: 0px;
  position: absolute;
}

strong {
  color: #547794;
}

img {
  height: 100%;
  width: auto;
  margin-top: 50px;
}

hr {
  background-color: #cce4b8;
  height: 2px;
  margin: 5px 0;
  padding: 0;
  border: none;
}

.container {
  background-color: #ffffff;
  box-shadow: 1px 2px 8px -1px #999999;
  padding: 35px;
  margin: 50px;
  width: 500px;
}

.body {
  background-color: #edeff0;
  padding-bottom: 100px;
}
</style>
<div class="body">
  <div class="header">
    <img style="height:150px;" src="https://stridr.social/logo-final.png"><h2><i>Your Social Discovery Engine</i></h2>
  </div>
  <div class="container">
    <p><strong>Hello <%= @resource.email %>!</strong></p>

    <hr />

    <p>Someone has requested a link to change your password on Stridr. You can do this through the link below.</p>

    <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

    <p>If you didn't request this, please ignore this email.</p>
    <p>Your password won't change until you access the link above and create a new one.</p>
  </div>
</div>
