<div id="deviantArtModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container deviantart">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="inline heading col-md-12">
                  <i class="fa fa-deviantart" aria-hidden="true"></i>
                  <h1>What is DeviantArt?</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-6 text-center">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                  <p>
                    A place for artists &amp; those who appreciate art
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 text-center">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                  <p>
                    Watch (follow) your favorite artists
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 text-center">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                  <p>
                    Favorite the works you like
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 text-center">
                  <i class="fa fa-search" aria-hidden="true"></i>
                  <p>
                    Browse a wide variety of categories
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 text-center">
                  <i class="fa fa-usd" aria-hidden="true"></i>
                  <p>
                    Buy from artists and sell your art
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 text-center">
                <i class="fa fa-retweet" aria-hidden="true"></i>
                  <p>
                    Interact with artists and their fans
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 infographic-footer">
                  <p>
                    Brought to you by <a href="https://stridr.social">Stridr.social</a> | Icons by <a href="http://fontawesome.io/">Font Awesome</a> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
