<div id="facebookModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      <div class="container facebook">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="inline heading col-md-12">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <h1>What is Facebook?</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-6 text-center">
              <i class="fa fa-globe" aria-hidden="true"></i>
                <p>
                  A place to connect with, well, pretty much everyone around the world
                </p>
              </div>
              <div class="col-md-4 col-sm-6 text-center">
              <i class="fa fa-rss" aria-hidden="true"></i>
                <p>
                  Keep up with your favorite local businesses, bands, brands, celebrities, bloggers and other popular things
                </p>
              </div>
              <div class="col-md-4 col-sm-6 text-center">
              <i class="fa fa-group" aria-hidden="true"></i>
                <p>
                  See what your friends are up to and talking about, join groups, chat groups, and private message
                </p>
              </div>
              <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <p>
                  Find events and get more information about them
                </p>
              </div>
              <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-edit" aria-hidden="true"></i>
                <p>
                  Post text, pictures, and video about what's going on in your life
                </p>
              </div>
              <div class="col-md-4 col-sm-6 text-center">
              <i class="fa fa-list" aria-hidden="true"></i>
                <p>
                  Too many features to list. Facebook has a wide range of functionality
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 infographic-footer">
                <p>
                  Brought to you by <a href="https://stridr.social">Stridr.social</a> | Icons by <a href="http://fontawesome.io/">Font Awesome</a> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
