<div id="pinterestModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      <div class="container pinterest">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="inline heading col-md-12">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
                <h1>What is Pinterest?</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-6 text-center">
              <i class="fa fa-picture-o" aria-hidden="true"></i>
                <p>
                  A place for visual inspiration for creative ideas; a visual bookmarking tool
                </p>
              </div>
              <div class="col-md-4 col-sm-6 text-center">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
                <p>
                  Follow your friends and Pinners that you like
                </p>
              </div>
              <div class="col-md-4 col-sm-6 text-center">
              <i class="fa fa-clipboard" aria-hidden="true"></i>
                <p>
                  Create your own boards and organize your Pins by topic
                </p>
              </div>
              <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-female" aria-hidden="true"></i>
                <p>
                  Largely used by women, men are starting to have fun with it as well
                </p>
              </div>
              <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-user-times" aria-hidden="true"></i>
                <p>
                  Follow boards without having to follow the user
                </p>
              </div>
              <div class="col-md-4 col-sm-6 text-center">
              <i class="fa fa-users" aria-hidden="true"></i>
                <p>
                  Find your Facebook friends on Pinterest by connecting your Facebook account
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 infographic-footer">
                <p>
                  Brought to you by <a href="https://stridr.social">Stridr.social</a> | Icons by <a href="http://fontawesome.io/">Font Awesome</a> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
