<div id="redditModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container reddit">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="inline heading col-md-12">
                  <i class="fa fa-reddit" aria-hidden="true"></i>
                  <h1>What is Reddit?</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
                  <p>
                    A source for what's new and popular on the internet
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-group" aria-hidden="true"></i>
                  <p>
                    Reddit is made up of many individual communities, also known as 'subreddits'. Each community has its own page, subject matter, users, and moderators
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-edit" aria-hidden="true"></i>
                  <p>
                    Users post stories, links, and media to these communities, and other users vote and comment on these posts
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                  <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                  <p>
                    Through voting, users determine what posts rise to the top of community pages and, by extension, the public home page of the site
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                  <i class="fa fa-lock" aria-hidden="true"></i>
                  <p>
                    Many subreddits have a culture, strict rules, and guidelines attached to them. Be sure to familiarize yourself with the subreddit before posting
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-question" aria-hidden="true"></i>
                  <p>
                    A great place to ask questions and have discussions about them
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 infographic-footer">
                  <p>
                    Brought to you by <a href="https://stridr.social">Stridr.social</a> | Icons by <a href="http://fontawesome.io/">Font Awesome</a> | Some source material by <a href="https://reddit.zendesk.com/hc/en-us/articles/204511479-What-is-Reddit-">Reddit</a> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
