<div id="spotifyModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container spotify">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="inline heading col-md-12">
                  <i class="fa fa-spotify" aria-hidden="true"></i>
                  <h1>What is Spotify?</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-music" aria-hidden="true"></i>
                  <p>
                    A place to listen to all of your favorite music
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                  <p>
                    Follow your friends and favorite artists/albums
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-heart" aria-hidden="true"></i>
                  <p>
                    Create playlists and heart the songs you enjoy
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                  <i class="fa fa-question" aria-hidden="true"></i>
                  <p>
                    Let Spotify play artists it thinks you might like
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                  <i class="fa fa-usd" aria-hidden="true"></i>
                  <p>
                    Spotify is free to use, but you can subscribe to Spotify for an ad-free experience
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-rss" aria-hidden="true"></i>
                  <p>
                    Listen to Stations for curated listening
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 infographic-footer">
                  <p>
                    Brought to you by <a href="https://stridr.social">Stridr.social</a> | Icons by <a href="http://fontawesome.io/">Font Awesome</a> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
