<div id="tumblrModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container tumblr">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="inline heading col-md-12">
                  <i class="fa fa-tumblr" aria-hidden="true"></i>
                  <h1>What is Tumblr?</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-globe" aria-hidden="true"></i>
                  <p>
                    A place to view and share things you enjoy, including quotes, pictures, video, audio, text, and links with people around the world
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                  <p>
                    Follow bloggers that you like
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-hashtag" aria-hidden="true"></i>
                  <p>
                    Organize content using tags
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                  <i class="fa fa-group" aria-hidden="true"></i>
                  <p>
                    Participate in communities for many topics or fandoms
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                  <p>
                    Customize your blog with advanced editing features, including an HTML and CSS editor
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-question" aria-hidden="true"></i>
                  <p>
                    Ask bloggers questions in 'Ask me anything' style
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 infographic-footer">
                  <p>
                    Brought to you by <a href="https://stridr.social">Stridr.social</a> | Icons by <a href="http://fontawesome.io/">Font Awesome</a> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
