<div id="twitterModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container twitter">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="inline heading col-md-12">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <h1>What is Twitter?</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-comment" aria-hidden="true"></i>
                  <p>
                    A place for quick news and discussions with brands, celebrities, professionals, and pretty much everyone
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                  <p>
                    Follow your friends, family, colleagues, professionals, journalists, brands, celebrities, and everything in between
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-retweet" aria-hidden="true"></i>
                  <p>
                    Retweet posts most important to you
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                  <i class="fa fa-comments" aria-hidden="true"></i>
                  <p>
                    Direct message 'friends' (people you follow and who follow you)
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                  <p>
                    Tweet text (up to 140 characters per message), videos, and photos
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
                  <p>
                    Open community to talk about trending topics
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 infographic-footer">
                  <p>
                    Brought to you by <a href="https://stridr.social">Stridr.social</a> | Icons by <a href="http://fontawesome.io/">Font Awesome</a> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
