<div id="twitchModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container twitch">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="inline heading col-md-12">
                  <i class="fa fa-twitch" aria-hidden="true"></i>
                  <h1>What is Twitch.tv?</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                  <p>
                    A place for gamers to livestream their videogame play and to watch other gamers
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-usd" aria-hidden="true"></i>
                  <p>
                    Save money by seeing what a game is like before buying it
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                  <p>
                    Follow your friends and favorite gamers
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-comments" aria-hidden="true"></i>
                  <p>
                    Chat with people watching the same stream as you
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                  <p>
                    Watch E-sports events and sneak peaks to new games
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-rss" aria-hidden="true"></i>
                  <p>
                    Support the streamers you follow by subscribing to them
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 infographic-footer">
                  <p>
                    Brought to you by <a href="https://stridr.social">Stridr.social</a> | Icons by <a href="http://fontawesome.io/">Font Awesome</a> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
