<div id="youtubeModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container youtube">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="inline heading col-md-12">
                  <i class="fa fa-youtube" aria-hidden="true"></i>
                  <h1>What is YouTube?</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-film" aria-hidden="true"></i>
                  <p>
                    A place to watch videos about anything, and have a conversation about them
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-rss" aria-hidden="true"></i>
                  <p>
                    Subscribe to your favorite YouTubers (people who upload videos)
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-video-camera" aria-hidden="true"></i>
                  <p>
                    Livestreams for music, games, events, and other topics
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                  <i class="fa fa-usd" aria-hidden="true"></i>
                  <p>
                    Upload your own videos, monetize them if you get popular
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                  <i class="fa fa-globe" aria-hidden="true"></i>
                  <p>
                    YouTube is an enormous searchable repository of video from around the world
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                <i class="fa fa-institution" aria-hidden="true"></i>
                  <p>
                    A great learning resource, a place to share research, knowledge, and experience
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 infographic-footer">
                  <p>
                    Brought to you by <a href="https://stridr.social">Stridr.social</a> | Icons by <a href="http://fontawesome.io/">Font Awesome</a> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
